name: Build packages

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  lints:
    name: Build
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v6

      - name: Try compiling packages
        run: |
          for pkg in `ls packages`; do
            nix build .#${pkg} -o ${pkg} --show-trace
          done
